<div class="hero-unit">
	<h1>About</h1>
		<p>
		Bandtree is a music genealogy project. It is a user-generated database of artists, bands and albums that catalogs and serves up a visual hierarchy of musical artists' relations to eachother through other artists, the bands they have played in and even specific albums they have played on. It is a method of finding new and interesting music based on what you know you already like by connecting the dots between one album and the next.
		</p>
			<div class="row">
				<div class="span6">
					<h2>How can I help?</h2>
						<p>
						Bandtree is being built from the ground up, because a database of this kind does not currently exist. To do this, we need as much help as we can get. It's crucial that the information fed into the database is first-hand — in other words, you'll need a hard copy of the liner notes that came with the album or some other trusted source. In most cases, liner notes will give you everything you need to be helpful to Bandtree.
						</p>
				</div>
				<div class="span4">
					<h2>Do I get anything?</h2>
						<p>
						Besides ours and our users' undying gratitude, providing Bandtree with useful information can earn you different badges that will be displayed on your user account, proving how awesome you are and serving as a challenge to others to be awesomer than you (we hope).
						</p>
				</div>
			</div>
</div>